<div class="container">
  <div class="row Adp-hero-section">
    <div class="Vlt-grid">
      <div class="Vlt-col Vlt-col--2of4">
        <h1 class="Vlt-white Vlt-margin--A-bottom4 Adp-hero-section__title">Vonage Developer Center</h1>
        <h3 class="Vlt-white Vlt-margin--A-bottom4">Communications API</h3>
        <p class="p-large Vlt-white Vlt-margin--A-bottom4">
          Integrate <a href="/messaging/sms/overview" target="_blank" rel="noopener noreferrer">sms</a>, <a href="/voice/voice-api/overview" target="_blank" rel="noopener noreferrer">voice</a>, <a href="https://tokbox.com/developer/" target="_blank" rel="noopener noreferrer">video</a> and <a href="https://developer.nexmo.com/verify/overview" target="_blank" rel="noopener noreferrer"> two-factor authentication</a> to your apps with Vonage communication APIs.
        </p>
        <div class="Vlt-margin--A--bottom4">
          <a class="Vlt-btn Vlt-btn--app Vlt-btn--white Adp-hero-section__get-started" href="/documentation?icid=documentation_homepage_gettingstartedoverview_btn">
            Get Started
            <svg class="Vlt-icon Vlt-icon--large">
              <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-right" />
            </svg>
          </a>
          <a class="Vlt-btn Vlt-btn--white Vlt-btn--outline Vlt-btn--app" href="https://dashboard.nexmo.com/sign-up?icid=tryitfree_api-developer-adp_nexmodashbdfreetrialsignup_nav" target="_blank" rel="noopener noreferrer">
            Create a free account
          </a>
        </div>
      </div>
      <div class="Vlt-col Vlt-col--2of4">
        <div class="Adp-hero-section__code-background"></div>
        <%= render partial: 'layouts/partials/code_snippets_home' %>
      </div>
    </div>
  </div>

  <div class="row Adp-use-cases">
    <div class="Adp-use-cases__background"></div>
    <div class="Vlt-tabs">
      <ul class="Vlt-tabs__header" role="tablist" aria-label='Use-cases'>
        <li role='tab' aria-selected='true'  aria-controls='tab-one'   tabindex='0'  id='most-popular' class="Vlt-tabs__link Vlt-tabs__link_active Vlt-white"><span>Most popular</span></li>
        <li role='tab' aria-selected='false' aria-controls='tab-two'   tabindex='-1' id='telco' class="Vlt-tabs__link Vlt-white"><span>Telecommunications</span></li>
        <li role='tab' aria-selected='false' aria-controls='tab-three' tabindex='-1' id='in-app' class="Vlt-tabs__link Vlt-white"><span>In-app communications</span></li>
        <li role='tab' aria-selected='false' aria-controls='tab-four'  tabindex='-1' id='identity' class="Vlt-tabs__link Vlt-white"><span>Identity verification</span></li>
      </ul>
      <div class="Vlt-tabs__content">
        <div tabindex='0' role='tabpanel' id='tab-one' aria-labelledby='most-popular' hidden='true' class="Vlt-tabs__panel Vlt-tabs__panel_active">
          <div class="Vlt-grid">
            <div class="Vlt-col Vlt-col--1of3">
              <div class="Vlt-card Vlt-card--plain Adp-use-cases__card">
                <a class="Vlt-card__content" href="/use-cases/private-sms-communication">
                  <div class="Adp-use-cases__card-title">
                    <p class="Vlt-white"><b>Private SMS communication</b></p>
                  </div>
                  <div class="Adp-use-cases__card-blurb">
                    <p class="Vlt-white">Faciliate SMS communication between two parties without revealing either one's real phone number to the other.</p>
                  </div>
                  <div class="Adp-use-cases__card-tags">
                    <p>SMS API</p><p>Telecommunications</p>
                  </div>
                  <div class="Adp-use-cases__card-image">
                    <img src="/assets/images/use-cases/Private-SMS-communication.svg" alt="Private SMS Communication">
                  </div>
                </a>
              </div>
            </div>

            <div class="Vlt-col Vlt-col--1of3">
              <div class="Vlt-card Vlt-card--plain Adp-use-cases__card">
                <a class="Vlt-card__content" href="/use-cases/validate-a-number">
                  <div class="Adp-use-cases__card-title">
                    <p class="Vlt-white"><b>Validate a number</b></p>
                  </div>
                  <div class="Adp-use-cases__card-blurb">
                    <p class="Vlt-white">Use the Number Insight and Developer API from Ruby code to validate, sanitize and determine the cost to call or message a number.</p>
                  </div>
                  <div class="Adp-use-cases__card-tags">
                    <p>Number Insight API</p><p>Identify verification</p>
                  </div>
                  <div class="Adp-use-cases__card-image">
                    <img src="/assets/images/use-cases/Validate-a-number.svg" alt="Validate a number">
                  </div>
                </a>
              </div>
            </div>

            <div class="Vlt-col Vlt-col--1of3">
              <div class="Vlt-card Vlt-card--plain Adp-use-cases__card">
                <a class="Vlt-card__content" href="/use-cases/interactive-voice-response">
                  <div class="Adp-use-cases__card-title">
                    <p class="Vlt-white"><b>Interactive Voice Response (IVR)</b></p>
                  </div>
                  <div class="Adp-use-cases__card-blurb">
                    <p class="Vlt-white">Build an automated phone system for users to input information with the keypad and hear a spoken response.</p>
                  </div>
                  <div class="Adp-use-cases__card-tags">
                    <p>Voice API</p><p>Telecommunications</p>
                  </div>
                  <div class="Adp-use-cases__card-image">
                    <img src="/assets/images/use-cases/Interactive-Voice-Response.svg" alt="Interactive Voice Response">
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div tabindex='0' role='tabpanel' id='tab-two' aria-labelledby='telco' hidden='false' class="Vlt-tabs__panel">
          <div class="Vlt-grid">
            <div class="Vlt-col Vlt-col--1of3">
              <div class="Vlt-card Vlt-card--plain Adp-use-cases__card">
                <a class="Vlt-card__content" href="/use-cases/private-sms-communication">
                  <div class="Adp-use-cases__card-title">
                    <p class="Vlt-white"><b>Private SMS communication</b></p>
                  </div>
                  <div class="Adp-use-cases__card-blurb">
                    <p class="Vlt-white">Faciliate SMS communication between two parties without revealing either one's real phone number to the other.</p>
                  </div>
                  <div class="Adp-use-cases__card-tags">
                    <p>SMS API</p><p>Telecommunications</p>
                  </div>
                  <div class="Adp-use-cases__card-image">
                    <img src="/assets/images/use-cases/Private-SMS-communication.svg" alt="Private SMS Communication">
                  </div>
                </a>
              </div>
            </div>

            <div class="Vlt-col Vlt-col--1of3">
              <div class="Vlt-card Vlt-card--plain Adp-use-cases__card">
                <a class="Vlt-card__content" href="/use-cases/interactive-voice-response">
                  <div class="Adp-use-cases__card-title">
                    <p class="Vlt-white"><b>Interactive Voice Response (IVR)</b></p>
                  </div>
                  <div class="Adp-use-cases__card-blurb">
                    <p class="Vlt-white">Build an automated phone system for users to input information with the keypad and hear a spoken response.</p>
                  </div>
                  <div class="Adp-use-cases__card-tags">
                    <p>Voice API</p><p>Telecommunications</p>
                  </div>
                  <div class="Adp-use-cases__card-image">
                    <img src="/assets/images/use-cases/Interactive-Voice-Response.svg" alt="Interactive Voice Response">
                  </div>
                </a>
              </div>
            </div>

            <div class="Vlt-col Vlt-col--1of3">
              <div class="Vlt-card Vlt-card--plain Adp-use-cases__card">
                <a class="Vlt-card__content" href="/use-cases/local-numbers">
                  <div class="Adp-use-cases__card-title">
                    <p class="Vlt-white"><b>Local Numbers</b></p>
                  </div>
                  <div class="Adp-use-cases__card-blurb">
                    <p class="Vlt-white">Replace your toll-free numbers (e.g. 800, 0800) with local geo numbers for cheaper local calls and location-sensitive information.</p>
                  </div>
                  <div class="Adp-use-cases__card-tags">
                    <p>Numbers API</p><p>Telecommunications</p>
                  </div>
                  <div class="Adp-use-cases__card-image">
                    <img src="/assets/images/use-cases/Local-Numbers.svg" alt="Local Numbers">
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div tabindex='0' role='tabpanel' id='tab-three' aria-labelledby='in-app' hidden='false' class="Vlt-tabs__panel">
          <div class="Vlt-grid">
            <div class="Vlt-col Vlt-col--1of3">
              <div class="Vlt-card Vlt-card--plain Adp-use-cases__card">
                <a class="Vlt-card__content" href="/use-cases/client-sdk-click-to-call">
                  <div class="Adp-use-cases__card-title">
                    <p class="Vlt-white"><b>Click to Call</b></p>
                  </div>
                  <div class="Adp-use-cases__card-blurb">
                    <p class="Vlt-white">Learn how to enable your customers to call you directly from your website.</p>
                  </div>
                  <div class="Adp-use-cases__card-tags">
                    <p>Client SDK</p><p>In-app communications</p>
                  </div>
                  <div class="Adp-use-cases__card-image">
                    <img src="/assets/images/use-cases/Click-to-Call.svg" alt="Click to Call">
                  </div>
                </a>
              </div>
            </div>

            <div class="Vlt-col Vlt-col--1of3">
              <div class="Vlt-card Vlt-card--plain Adp-use-cases__card">
                <a class="Vlt-card__content" href="https://tokbox.com/developer/embeds/" target="_blank" rel="noopener noreferrer">
                  <div class="Adp-use-cases__card-title">
                    <p class="Vlt-white"><b>Video Chat Embeds</b></p>
                  </div>
                  <div class="Adp-use-cases__card-blurb">
                    <p class="Vlt-white">Generate a 1-to-1 video appointment workflow. This can be used for a doctor-patient, student-teacher, or any other 1-to-1 web scheduling application.</p>
                  </div>
                  <div class="Adp-use-cases__card-tags">
                    <p>Video API</p><p>In-app communications</p>
                  </div>
                  <div class="Adp-use-cases__card-image">
                    <img src="/assets/images/use-cases/Video-Chat-Embeds.svg" alt="Video Chat Embeds">
                  </div>
                </a>
              </div>
            </div>

            <div class="Vlt-col Vlt-col--1of3">
              <div class="Vlt-card Vlt-card--plain Adp-use-cases__card">
                <a class="Vlt-card__content" href="/use-cases/contact-center-client-sdk">
                  <div class="Adp-use-cases__card-title">
                    <p class="Vlt-white"><b>Contact Center</b></p>
                  </div>
                  <div class="Adp-use-cases__card-blurb">
                    <p class="Vlt-white">Build your own contact center application.</p>
                  </div>
                  <div class="Adp-use-cases__card-tags">
                    <p>Client SDK</p><p>In-app communications</p>
                  </div>
                  <div class="Adp-use-cases__card-image">
                    <img src="/assets/images/use-cases/Contact-Center.svg" alt="Contact Center">
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div tabindex='0' role='tabpanel' id='tab-four' aria-labelledby='identity' hidden='false' class="Vlt-tabs__panel">
          <div class="Vlt-grid">
            <div class="Vlt-col Vlt-col--1of3">
              <div class="Vlt-card Vlt-card--plain Adp-use-cases__card">
                <a class="Vlt-card__content" href="/use-cases/validate-a-number">
                  <div class="Adp-use-cases__card-title">
                    <p class="Vlt-white"><b>Validate a number</b></p>
                  </div>
                  <div class="Adp-use-cases__card-blurb">
                    <p class="Vlt-white">Use the Number Insight and Developer API from Ruby code to validate, sanitize and determine the cost to call or message a number.</p>
                  </div>
                  <div class="Adp-use-cases__card-tags">
                    <p>Number Insight API</p><p>Identity verification</p>
                  </div>
                  <div class="Adp-use-cases__card-image">
                    <img src="/assets/images/use-cases/Validate-a-number.svg" alt="Validate a number">
                  </div>
                </a>
              </div>
            </div>

            <div class="Vlt-col Vlt-col--1of3">
              <div class="Vlt-card Vlt-card--plain Adp-use-cases__card">
                <a class="Vlt-card__content" href="/verify/tutorials/verify-2fa-ruby/introduction">
                  <div class="Adp-use-cases__card-title">
                    <p class="Vlt-white"><b>Two factor authentication</b></p>
                  </div>
                  <div class="Adp-use-cases__card-blurb">
                    <p class="Vlt-white">Add an extra layer of security when users perform sensitive tasks by confirming their identities.</p>
                  </div>
                  <div class="Adp-use-cases__card-tags">
                    <p>Verify API</p><p>Telecommunications</p>
                  </div>
                  <div class="Adp-use-cases__card-image">
                    <img src="/assets/images/use-cases/Video-Chat-Embeds.svg" alt="Two factor authentication">
                  </div>
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div>
      <p class="p-large Vlt-right Adp-use-cases__all Vlt-M-plus">
        <a href="/use-cases">
          See more use cases
          <svg class="Vlt-icon Vlt-icon--smaller">
            <use xlink:href="/symbol/volta-icons.svg#Vlt-icon-arrow-thin-right" />
          </svg>
        </a>
      </p>

      <a href="/use-cases" class="Vlt-btn Vlt-btn--primary Vlt-purple--dark Vlt-btn--app Adp-use-cases__all-mobile Vlt-S-only">See all use cases</a>
    </div>
  </div>

</div>

<div class="Adp-brand-listing">
  <div class="container">
    <div class="row">
      <div class="Vlt-grid">
        <div class="Vlt-col Vlt-col--S-1of2"><img class="Adp-brand-listing__brand" src="/assets/images/brands/Zipcar.svg" alt="Zipcar"></div>
        <div class="Vlt-col Vlt-col--S-1of2"><img class="Adp-brand-listing__brand" src="/assets/images/brands/Glassdoor.svg" alt="Glassdoor"></div>
        <div class="Vlt-col Vlt-col--S-1of2"><img class="Adp-brand-listing__brand" src="/assets/images/brands/Help_lightning.svg" alt="Help Lightning"></div>
        <div class="Vlt-col Vlt-col--S-1of2"><img class="Adp-brand-listing__brand" src="/assets/images/brands/Hey_Hi.svg" alt="HeyHi"></div>
        <div class="Vlt-col Vlt-col--S-1of2"><img class="Adp-brand-listing__brand" src="/assets/images/brands/MEDxm.svg" alt="Medxm"></div>
        <div class="Vlt-col Vlt-col--S-1of2"><img class="Adp-brand-listing__brand" src="/assets/images/brands/teladoc2.png" alt="Teladoc"></div>

        <div class="Vlt-grid__separator"></div>

        <div class="Vlt-col Vlt-col--S-1of2"><img class="Adp-brand-listing__brand" src="/assets/images/brands/allstate.png" alt="AllState"></div>
        <div class="Vlt-col Vlt-col--S-1of2"><img class="Adp-brand-listing__brand" src="/assets/images/brands/chegg2.png" alt="Chegg"></div>
        <div class="Vlt-col Vlt-col--S-1of2"><img class="Adp-brand-listing__brand" src="/assets/images/brands/cocacola2.png" alt="Coca Cola"></div>
        <div class="Vlt-col Vlt-col--S-1of2"><img class="Adp-brand-listing__brand" src="/assets/images/brands/dhl.svg" alt="DHL"></div>
        <div class="Vlt-col Vlt-col--S-1of2"><img class="Adp-brand-listing__brand" src="/assets/images/brands/dominos2.png" alt="Domino's"></div>
        <div class="Vlt-col Vlt-col--S-1of2"><img class="Adp-brand-listing__brand" src="/assets/images/brands/Kickstarter.svg" alt="Kickstarter"></div>
      </div>
    </div>
  </div>
</div>
